body{
	margin: 0;
	font-family: sans-serif;
}
a
{
	text-decoration:none;
}
.wrap{

	margin :0 auto;
}

header{
	background-image:url("../img/baby1.jpg");
	height : 250px;
	padding-bottom: 0.67em;
	padding-top: 0.67em;
}

a.banniere{
	padding-top: 0.67em;
    display: block;
}

.menuPrincipal{
}

.iconeMatch{
	width: 210px;

	border: 1px solid black;
}
.finale{
	margin: auto;
}
.demi{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 30px;
}
.iconeEquipe img{
	width: 80px;

}
.iconeEquipe{
	display: flex;
	border: solid 1px black;
	flex-direction: column;
	width: 210px;

}
.iconeMatch{
	display: flex;
	flex-direction: column;

}
.iconeJoueurs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.iconeJoueur{
	border: 1px solid black;
	width: 99px;
}

#boutonModif{
	margin: auto;
}
.iconeEquipes{
	display: flex;
	justify-content: space-between;


}

#tableauPoules{
	width: 70%;
	border-collapse: collapse;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;

}
#tableauPoules th,td{
	border: black 1px solid;
	height: 25px;
}
.imgDetailJoueurs{
	width: 800px;
}
.photoJoueur{
	width: 300px;
}

.divPoules{
	display: flex;
}
.poules{
	width: 50%;
}
.poules table{
	height: 200px;
	width: 450px;
}

#titreBanniere {
	-moz-box-shadow: 2px 2px 6px 2px #9fb4f2;
	-webkit-box-shadow: 2px 2px 6px 2px #9fb4f2;
	box-shadow: 2px 2px 6px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);

	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

#connexion {
	margin-top: 20px;
	display: flex;
	justify-content:space-around;

}

.myButton {
	-moz-box-shadow: 2px 2px 6px 2px #9fb4f2;
	-webkit-box-shadow: 2px 2px 6px 2px #9fb4f2;
	box-shadow: 2px 2px 6px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

#h1banniere {
	color: #ffffff;
	font-size: 32px;
	font-weight: 800;
	line-height: 42px;
	margin: 0 0 24px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

.lienMenuPrincipal {
	color: white;
}

#footer {
	width: 100%;
	background-image: url(../img/baby1.jpg);

}

#texteFooter {
	color: white;
	height: 20px;
	font-size: 12px;
	width : 200px;
	margin: auto;
	line-height: 20px;
}

